<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/loginstyle.css">
</head>
<body>

<div class="container">
    <form method="POST" class="card">
        <h2>Login</h2>
        {% if error %}
        <div class="popup error">
            {{ error }}
        </div>
        {% endif %}

        <input type="text" name="userid" placeholder="User ID" required>

        <input type="password" name="password" placeholder="Password" required>

        <button type="submit">Login</button>
        <p class="link-text">
            New user? <a href="/register">Register here</a>
        </p>
    </form>
</div>

</body>
</html>